h3{
    text-align: center;
    margin-top: 10%;
}
button{  
    background-color: #EA3C53;
    border: none;
    color: black;
    padding: 16px 10%;
    margin: 1% 0 0 37%;
    cursor: pointer;   
}
body{
    background: #696969;
}
input{
    display: flex;
    margin: 0 0 0.2% 35%;
    padding: 1% 15% 1% 0.5%;
}
#texterr>span{
    background-color:#EA3C53;
}